<p id="notice"><%= notice %></p>

<h2 align="center"><%= @question.title %></h2>

<div class="container" align="center">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h4 style="padding: 10px; text-align: left"><%= @question.description %></h4>
    </div>
  </div>
</div>

<%= link_to 'Back', questions_path, class: 'btn btn-lg btn-block' %>