<div class="jumbotron">
  <div class="container">
    <h1 class="display-2">OWASP Seraphimdroid</h1>
    <p>Welcome to OWASP Seraphimdroid Project's Knowledge Base.</p>
    <p><a class="btn btn-primary btn-lg" href="users/sign_in" role="button">Become an Editor &raquo;</a></p>
  </div>
</div>