<p align="center">
  <strong><%= @article.title %></strong>
</p>

<%= @article.text %>

<p>
  <strong>Related Pictures:</strong><br>
  <% @article.pictures.each do |picture| %>
      <%= link_to image_tag(picture.image.url(:low)), picture.image.url %>
  <% end %>
</p>