<div class="page-header">
  <h1 align="center">
    <strong><%= @article.title %></strong>
  </h1>
</div>

<div align="center">
  <p class="lead" style="font-size: large">
    <%= sanitize(@article.text, tags: %w(a img h1 h2 h3 b i u p div), attributes: %w(id src href class)) %>
  </p>
</div>

<p>
  <strong>Related Pictures:</strong><br>
  <% @article.pictures.each do |picture| %>
      <%= link_to image_tag(picture.image.url(:low)), picture.image.url %>
  <% end %>
</p>