<div class="container col-lg-4">
  <div class="jumbotron">
    <h1><%= @article.read_count %></h1>
    <p>Read Count</p>
  </div>
</div>

<div class="container col-lg-8">
  <div class="jumbotron">
    <h1><%= @article.unique_read_count %></h1>
    <p>Unique Read Count</p>
  </div>
</div>