<% if flash[:notice] %>
    <div class=" alert alert-info">
      <strong>Alert!</strong> <%= flash[:notice] %>
    </div>
<% end %>

<p align="center">
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Back', categories_path, class: "btn btn-lg btn-block" %>
